html, body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}


.button{
    position: absolute;
    z-index: 9998;   
   }


/* Module with multiple page button controls */
#prev{
  position: absolute;
  bottom: 0.75rem;
  left: 3.5rem;
}
#next{
  position: absolute;
  bottom: 0.75rem;
  right: 3.5rem;
}


.a-scene{
    position: absolute;
    z-index: 1;
}

/* GLOBAL BUTTONS */
#htm-btn-1{
    position: absolute;
    z-index: 9998; 
    margin-left: 1rem; 
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 22px #2b2b2b);
}
#htm-btn-2{
    position: absolute;
    right: 1rem;
    z-index: 9998; 
    margin-left: 1rem; 
    margin-top: 1rem;
    filter: drop-shadow(3px 3px 22px #2b2b2b);
}


/* SHOULD BE REMOVED BUT I DONT WANT IT TO BREAK */
#next-button{
  display: none;
  position: absolute; 
  top: 20px;
  left: 45%; 
  right: 45%;
  z-index: 9999;
  filter: drop-shadow(3px 3px 22px #2b2b2b);
  border-width: 2px;
  border-color: whitesmoke;
  color: whitesmoke;
}



#captions{
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 2.5%;
    z-index: 9999; 
    margin-left: 1rem; 
    margin-top: 1rem;
    filter: drop-shadow(3px 3px 22px #2b2b2b);
    background-color: #2b2b2b;
    opacity: 0.88;
    display: none;
}


.contentModal{
  left: 2%;
  right: 2%;
  top: 8%;
  bottom: 13%;
  
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  /* background-color: whitesmoke; */
  background-image: url(img/Info\ card\ but\ darker.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 9999; 
  margin-left: 1rem; 
  margin-top: 1rem;
  filter: drop-shadow(5px 5px 22px #2b2b2b);
  
  border-radius: 9px;
  padding: 2rem;
  text-align: center;


}


#miniGameModal{
  left: 2%;
  right: 2%;
  top: 8%;
  bottom: 13%;
  
  display: none;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
    position: absolute;
    z-index: 9999; 
    margin-left: 1rem; 
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 22px #2b2b2b);
    background-color: whitesmoke;
    border-radius: 9px;
    padding: 2rem;
    text-align: center;
}


#modalPageContent {
    color: white;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.5;
} 



#modalPage2Content {
  color: white;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.5;
} 


#modalPage3Content {
  color: white;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 1.5;
}

    #HVACModalClose{
        position: absolute;
        right: 0.5%;
        top: 2%;
    } 

  

    #modalPage4Content {
      color: white;
      margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.5;
    }

.Title{
  margin-top: clamp(10px, 5vh, 40px);
  font-size: clamp(18px, 4vw, 32px);
  margin-bottom: 1.5rem;
  position: static;
  color: white;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  /* min-height: 2.5rem; */
}

.Wrapper {
  position: relative;
  gap: 0.5rem;
  margin-top: 1rem;
  top: 4vh;
  left: 0%;
  max-width: 88%;
  max-height: 55%;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* stack content & image vertically */
  align-items: center;
}
#Text{
    color: white;
    margin-bottom: 10px;
    font-size: 26px;
    line-height: 1.5;
} 
.Text{
  color: white;
  margin-bottom: 10px;
} 
#Image {
  align-self: center;
  max-width: 100%;  /* respect parent’s 88% */
  height: auto;     /* keep aspect ratio */
}
.Image {
  align-self: center;
  max-width: 100%;  /* respect parent’s 88% */
  height: auto;     /* keep aspect ratio */
}

#changeSceneModal{
    display: none;
    width: 75%;
    max-width: 50rem;

    height: 65%;
    max-height: 35vh;

    overflow-y: auto;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    z-index: 9999; 
    margin-left: 1rem; 
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 22px #2b2b2b);
    background-color: #FFCC00;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}


.changeSceneModalClass{
    display: none;
    width: 75%;
    max-width: 50rem;

    height: 65%;
    max-height: 35vh;

    overflow-y: auto;

    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    position: absolute;
    z-index: 9999; 
    margin-left: 1rem; 
    margin-top: 1rem;
    filter: drop-shadow(5px 5px 22px #2b2b2b);
    background-color: #FFCC00;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}


#gh-img{
    width: 75%;
    max-width: 75rem;
}

#locationModalClose{
    position: absolute;
    right: 0.5%;
    top: 2%;
}
 
#DoorModalClose{
    position: absolute;
    right: 0.5%;
    top: 2%;
}   
    #windowModalClose{
        position: absolute;
        right: 0.5%;
        top: 2%;
    } 

.a-enter-vr-button{
    display: none;
}
.modal-content {
  background-color: #FFCC00; /* light grey */
  color: black; /* off-white text */
}
.modal-body .btn {
  margin: 10px 0;
  width: 100%;
  max-width: 200px;
}
#customModal{
  position: absolute;
  z-index: 9999;
}



@keyframes pulseGreen {
  0% {
    background-color: #006400; /* DarkGreen */
  }
  50% {
    background-color: #47b847; /* LightGreen */
  }
  100% {
    background-color: #006400;
  }
}
.pulse-green {
  animation: pulseGreen 3s infinite;
}

@media (min-width: 1024px) {
  .Title {
    margin-top: clamp(40px, 10vh, 200px); 
    
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (orientation: landscape) and (max-height: 500px) {
 

  .Title{
  margin-top: clamp(10px, 2vh, 40px);
  margin-bottom: 1.5rem;
  position: static;
  color: white;
}

  .Wrapper {
  position: relative;
  gap: 0.5rem;
  top: 0vh;
  left: 0%;
  max-width: 88%;
  max-height: 45%;
  overflow-y: auto;
  display: flex;
  flex-direction: column; /* stack content & image vertically */
}


}